html body .app-container > .app-container.div{
  height:100%;
}

body  {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#1F2833 ; 
  height: auto;
  width:auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  height:100vh;
}
#light.app-container{
  background-color: white;
}
#dark.app-container{
  background-color: #1F2833;
}

.nav-container {
  height:20px;
  width:auto;
  display:flex;
  justify-content:space-between;

  
  margin-left: 120px;
  margin-right:120px;
  
  
}
.main-container {
  
  display:inline-block;
  justify-content: center;
}


.logoReact{
  height:80px;
}

.form-container{
left:50%;
top:50%;
margin:auto;
margin-top:100px;

display:flex;
width: 357px;
height: 402px;
justify-content:center;
align-items: center;
background: #0B0C10;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 23px;
transform: rotate(-0.07deg);
}

#light .form-box {


width: 337px;
height: 378px;

background: white;
border-radius: 23px;
}
#dark .form-box {


  width: 337px;
  height: 378px;
  
  background: #45A29E;
  border-radius: 23px;
  }
  

.user-div {
top:15%;
left:22%;
display:flex;
position: absolute;
width: 206px;
height: 54px;
justify-content: center;
align-items: center;
background:#1F2833;
border-radius: 28px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-color:#1F2833;
}

#dark .userName {
position: absolute;
width: 200px;
height: 48px;
text-align:center;
background:#1F2833;
border-radius: 28px;
color:white;
border-color:#1F2833;
}

#light .userName {
  position: absolute;
width: 200px;
height: 48px;
text-align:center;
background:white;
border-radius: 28px;
color:black;
border-color:#1F2833;
}


.pass-div {
top:30%;
left:22%;
display:flex;
position: absolute;
width: 206px;
height: 54px;
justify-content: center;
align-items: center;
background:#1F2833;
border-radius: 28px;
border-color:#1F2833;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#dark .passWord {
position: absolute;
width: 200px;
height: 48px;
text-align:center;
background: #1F2833;
border-radius: 28px;
color:white;
border-color:#1F2833;
}

#light .passWord {
  position: absolute;
  width: 200px;
  height: 48px;
  text-align:center;
  background: white;
  border-radius: 28px;
  color:black;
  border-color:#1F2833;
  }

.checkpass-div {
top:45%;
left:22%;
display:flex;
position: absolute;
width: 206px;
height: 54px;
justify-content: center;
align-items: center;
background:#1F2833;
border-radius: 28px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-color:#1F2833;
}

#dark .checkPass {
position: absolute;
width: 200px;
height: 48px;
text-align:center;
background:#1F2833;
border-radius: 28px;
color:white;
border-color:#1F2833;
}

#light .checkPass {
  position: absolute;
  width: 200px;
  height: 48px;
  text-align:center;
  background:white;
  border-radius: 28px;
  color:black;
  border-color:#1F2833;
  }



#dark .button {
top:76%;
left:36%;
position: absolute;
width: 100px;
height: 32px;
border-color:whitesmoke;
border:solid 3px whitesmoke;
color:whitesmoke;
text-align: center;
align-content: center;
background: #1F2833;
border-radius: 23px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#light .button {
  top:76%;
  left:36%;
  position: absolute;
  width: 100px;
  height: 32px;
  border-color:#1F2833;
  border:solid 3px #1F2833;
  color:black;
  text-align: center;
  align-content: center;
  background: white;
  border-radius: 23px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  }

.checkbox {
position:absolute;
top:62%;
left:22%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
color:#0B0C01;
font-size:small;
}
#dark .checkbox :hover {
  color:white;
  animation-delay: 0.3ms;
}

#dark .react-switch {
  color:white;
  top:10px;
  left:48.5%;
}

#light .react-switch {
  color:black;
  top:10px;
  left:47.5%;
}
.label-container {
  display: flex;
  justify-content: center;
  margin-top:15px;
}

@media (max-width:800px) { 

  #dark .react-switch {
    left:45%;
    margin-top:15px;
    width:50px;
  }
  
  #light .react-switch {
    color:black;
    left:45%;
    margin-top:15px;
    width:50px;
  }

  .logoReact{
    height:80px;
  }
  .nav-container {
    
    width:auto;
    display:flex;
    justify-content:space-between;
  
    
    margin-left: 50px;
    margin-right:50px;
    margin-bottom: 0;
    
    
  }
#light.app-container{
    background-color: white;
  }

  .form-container{
    left:50%;
    top:50%;
    margin:auto;
    margin-top:60px;
    
    display:flex;
    width: 357px;
    height: 402px;
    justify-content:center;
    align-items: center;
    background: #0B0C10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    transform: rotate(-0.07deg);
    }
 
}